# vim 
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
*~

.idea
coverage

yast-sap-ha.sublime-project
yast-sap-ha.sublime-workspace

package/yast2-sap-ha-*.tar.bz2

.byebug_history
.vscode/
.vs/
sap_ha_unattended_install_log.txt