<% textdomain "sap-ha" %>
<h2>Installation summary</h2>
<br>
<table>
    <tr>
        <td>Product:</td>
        <td><%= @product_name %></td>
    </tr>
    <tr>
        <td>Scenario:</td>
        <td><%= @scenario_name %></td>
    </tr>
    <tr>
        <td colspan="2"><%= @scenario['description']%></td>
    </tr>
    <tr>
        <td>Cluster members:</td>
        <td></td>
    </tr>
    <tr>
        <td>Network:</td>
        <td></td>
    </tr>
    <tr>
        <td>Components:</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>

</table>